<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  	.body{
  		font-family: "黑体";
  	}
  </style>
 </head>
 <body>
  	<% include head %>

	    <!-- 模态框（Modal） -->
	    <% include ui/login %>
 </body>
</html>
